# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Logs
*.log

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo